<footer class="footer">
    <hr>
    <section class="p-2">

    </section>
    <hr>
    <section class="container">
        <div class="row  contenedorContactoFooter">
            <div class="col-md-4 col-lg-5 col-12 contenedorInfoContacto">

                <h4>HOUSE LAB</h4>
                <P class="lh-1 comLogo">.com</P>
                <p class="lh-sm descrpcionCompania">
                    
                    Inovadora compania especializada en el diseño y la manofacturacion de muebles contemporaneos y accesorios para la casa. Nuestra mision es transformar todos los espacios en oasis funcionales y bellos.

                </p>

                <p class="mb-2">
                   <i class="bi bi-geo-alt iconContact"></i> 
                   ul. Mikołaja Kopernika 6a, 00-328 Warszawa
                </p>
                
                <p class="mb-2">
                    <i class="bi bi-envelope iconContact"></i>  showroom@houselab.com
                </p>
                <p class="mb-2">
                    <i class="bi bi-telephone-inbound iconContact">   </i>+48 123 456 789
                </p>
                <p class="mb-2 d-none d-md-block">
                    <i class="bi bi-telephone-inbound opacity-0 iconContact">   </i>+48 987 654 321
                </p>

            </div>

            <div class="col-md-3 col-lg-2 col-6 mb-3 mb-md-0 d-none d-md-block servicioConsumidorFooter">
                <h6 class="mb-3 titulo-item-footer">Servicio  al consumidor</h6>

                <div class="row">

                    <a class="text-decoration-none mb-2 links-footer" href="#">Soporte de productos</a>

                    <a class="text-decoration-none mb-2 links-footer" href="#">Guía de envío</a>

                    <a class="text-decoration-none mb-2 links-footer" href="#">Pagos</a>

                    <a class="text-decoration-none mb-2 links-footer" href="#">Entregas</a>

                    <a class="text-decoration-none mb-2 links-footer" href="#">Tarjeta de Regalo</a>

                    <a class="text-decoration-none mb-2 links-footer" href="#">Preguntas Frecuentes</a>

                </div>
                

            </div>

            <div class="col-md-2 col-6 mb-3 mb-md-0 d-none d-md-block infoSobreCompañia">
                <h6 class="titulo-item-footer mb-3 ">Nuestra Compañia</h6>

                <div class="row">
                    <a href="#" class="text-decoration-none mb-2 links-footer">Sobre Nosotros</a>

                    <a href="#" class="text-decoration-none mb-2  links-footer">Agentes</a>

                    <a href="#" class="text-decoration-none mb-2  links-footer">Blog</a>

                    <a href="#" class="text-decoration-none mb-2 links-footer">Media</a>
                
                    <a href="#" class="text-decoration-none links-footer">Contáctenos</a>

                </div>
                
            </div>

            <div class="col-md-3 col-12 d-flex flex-column align-items-start mt-2 mt-sm-0 mb-3 mb-md-0 suscripcionFooter">
                <h6 class="titulo-item-footer">Subscription</h6>
                <p class="lh-sm descrpcionCompania">Suscribete a nuestro newseller para estar al dia con las ultimas noticias, promosiones y ofertas de House LAB </p>
                
                    <form class="col-12 justify-content-between newseller border-0 rounded-0 formulario-newseller input-group">
                        <input class="col-7 newseller border-0 rounded-0" type="email" placeholder="ingresa tu email" required name="email">
                        <button class="btn  col-1 botonFlecha"><i class="bi bi-arrow-right-circle"></i></button>
                    </form>

                <div class="pt-4">

                    <a href="#" class="logos-footer text-decoration-none"><i class="bi bi-facebook"></i></a>

                    <a href="#" class="logos-footer text-decoration-none"><i class="bi bi-twitter-x pl-2"></i></a>

                    <a href="#" class="logos-footer text-decoration-none"><i class=" pl-2 bi bi-instagram "></i></a>
                    
                    <a href="#" class="logos-footer text-decoration-none"><i class="bi bi-linkedin pl-2"></i></a>
                </div>
                
            </div>
            <hr>
            <p class="text-center derechosReservados col-12">2024 House LAB. Todos los derechos reservados</p>
            <hr class="pl-2">
        </div>
        
    </section>
</footer>
   <!-- cambio iconos -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
   <!-- cambio barra -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script src="/js/search.js"></script>
   
    <script src="/js/cambia-icono.js"></script>
    <script src="/js/barra-precio.js"></script>
    <script src="/js/carrucel.js"></script>
</body>

</html>