<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <hr>
    <section>
        <i>icono 1</i>
        <i>icono 2</i>
        <i>iconon 3</i>
        <i>icono 4</i>
    </section>
    <hr>
    <section>
        <div>
            <i>logo house lab</i>
            <p>Inovadora compania especializada en el diseño y la manofacturacion de muebles contemporaneos y accesorios para la casa. Nuestra mision es transformar todos los espacios en oasis funcionales y bellos.</p>
            <i>ubicaion</i>
            <i>mail@gmail.com</i>
            <i>+ 123456780
            + 123456780
            </i>
        </div>
        <div>
            <h3>Servicio  al consumidor</h3>
            <p>Ayuda con productos</p>
            <p>Guia de compra</p>
            <p>Pagos</p>
            <p>Entregas</p>
            <p>Tarjeta de regalo</p>
            <p>Preguntas y respuestas</p>
        </div>
        <div>
            <h3>Nuestra compañia</h3>
            <p>Sobre Nosotros</p>
            <p>Agentes</p>
            <p>Blogs</p>
            <p>Media</p>
            <p>Contactanos</p>
        </div>
        <div>
            <h3>Suscribete</h3>
            <p>Suscribete a nuestro newseller para estar al dia con las ultimas noticias, promosiones y ofertas de house lab </p>
            <form >
                <input type="email" placeholder="ingresa tu email" required name="email">
                <button>enviar logo</button>
            </form>
            <i>facebook</i>
            <i>instagram</i>
            <i>tweeter</i>
            <i>linkedin</i>
        </div>
        <hr>
        <p>2024 House Lab.Todos los derechos reservados</p>
        <hr>
    </section>
</body>
</html>