<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <!-- Bootstrap CSS e icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <header class="header" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg">
            <div class="container ">
                <!-- Logo -->
                <a class="navbar-brand logo" href="/">
                    Logo
                </a>
    
                <!-- Botón de colapso para vista móvil -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Enlaces de navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link navegador" href="#">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link navegador" href="#">Tienda</a></li>
                        <li class="nav-item"><a class="nav-link navegador" href="#">Habitaciones</a></li>
                        <li class="nav-item"><a class="nav-link navegador" href="#">Inspiración</a></li>
                        <li class="nav-item"><a class="nav-link navegador" href="#">Contactos</a></li>
                    </ul>
    
                    <!-- Íconos a la derecha -->
                    <div class="ms-auto d-flex align-items-center">

                            <!-- Caja de búsqueda -->
                            <div id="search-box" class="caja-de-busqueda">

                                <input type="text" id="inputBuscar" class="input-buscar" placeholder="Buscar...">
                                
                                <!-- Botón para limpiar el campo -->
                                <button id="limpiar-buscador" class="btn limpiar-buscador">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                           

                            <!-- boton que muestra y oculta el campo de busqueda-->
                            |<button  id="oculta-muestra-buscador"  class="btn me-3 iconSearch">
                                    <i class="bi bi-search "></i>
                            </button>

                            <a href="#" class="header-icon me-3">
                                <i class="bi bi-cart2 iconNav"></i>
                            </a>
                            <a href="#" class="header-icon">
                                <i class="bi bi-person iconNav"></i>
                            </a>

                    </div> <!-- Cierra el div.container -->   
        </nav>
    </header>