<section class="pt-5 seccionCuatro-PagProduct">
    <h4 class="pb-1 titulo">
        VISTO RECIENTEMENTE
    </h4>

    <div class="row pt-2 pb-3 contenedorDeCards">
        <div class="card pt-3 col-3">
            <a href="#" class="text-decoration-none img-container">
                <img src="https://u-static.haozhaopian.net/uid_848d7fd48e824f73964138428938bd38/aiImage/d6a8c277a1d84a5faab105121dfe805d.jpg" class="img-fluid" alt="...">
            </a>
            <a href="#" class="text-decoration-none">
                <h6 class="titulo-tarjeta">Card title</h6>
            </a>
        </div>

        <div class="card pt-3 col-3">
            <a href="#" class="text-decoration-none img-container">
                <img src="https://u-static.haozhaopian.net/uid_848d7fd48e824f73964138428938bd38/aiImage/d6a8c277a1d84a5faab105121dfe805d.jpg" class="img-fluid" alt="...">
            </a>
            <a href="#" class="text-decoration-none"></a>
                <h6 class="titulo-tarjeta">Card title</h6>
            </a>
        </div>

        <div class="card pt-3 col-3">
            <a href="#" class="text-decoration-none img-container">
                <img src="https://u-static.haozhaopian.net/uid_848d7fd48e824f73964138428938bd38/aiImage/d6a8c277a1d84a5faab105121dfe805d.jpg" class="img-fluid" alt="...">
            </a>
            <a href="#" class="text-decoration-none"></a>
                <h6 class="titulo-tarjeta">Card title</h6>
            </a>
        </div>

        <div class="card pt-3 col-3">
            <a href="#" class="text-decoration-none img-container">
                <img src="https://u-static.haozhaopian.net/uid_848d7fd48e824f73964138428938bd38/aiImage/d6a8c277a1d84a5faab105121dfe805d.jpg" class="img-fluid" alt="...">
            </a>
            <a href="#" class="text-decoration-none"></a>
                <h6 class="titulo-tarjeta">Card title</h6>
            </a>
        </div>
    </div>
</section>
