<%- include('./partials/header') %>

<main class="entregas">
<section class="container p-3 mt-2 mb-5">
    <div class="col-12  fw-semibold fs-5">
        <!-- ENTREGAS -->
        <div class=" my-4 color-blanco">
            ENTREGAS
        </div>
        <!-- primer slide -->
        <div class="navbar-nav d-flex flex-column">
            <!-- CÓMO RETIRAR -->
            <li class="nav-item dropdown">
                        <button class="pl-0 border-0 btn btn-custom btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 ajustarFondoSlides" data-bs-toggle="collapse" data-bs-target="#envio1Dropdown" aria-expanded="false" aria-controls="envio1Dropdown">
                            <span>¿CÓMO RETIRAR EN TIENDA?</span>
                            <i class="bi bi-dash ml-auto "></i>
                        </button>                            
                        <ul class="border-0 dropdown-menu dropdown-menu-dark collapse ajustarFondoSlides" id="envio1Dropdown">
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                Si seleccionaste Retiro en Tienda, encontrarás un selector para ingresar tu código Postal y ver las tiendas disponibles. Hacé click en el botón "Buscar" para ver el listado de tiendas dentro de esa región.
                            </li>
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                ¿Qué debo llevar para retirar mi pedido?
                            </li>
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                Solo el TITULAR DE LA TARJETA con la que se pagó puede retirar la compra. Deberá presentar el número de pedido, el DNI y la tarjeta con la que compró.
                            </li>
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                
                            </li>
                        </ul>
            </li>
        </div>
        <!-- segundo slide -->
        <div class="navbar-nav d-flex flex-column">
            <!-- envio a domicilio -->
            <li class="nav-item dropdown">
                        <button class="pl-0 border-0 btn btn-custom btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 ajustarFondoSlides" data-bs-toggle="collapse" data-bs-target="#envio2Dropdown" aria-expanded="false" aria-controls="envio2Dropdown">
                            <span>¿ CÓMO FUNCIONA EL ENVÍO A DOMICILIO?</span>
                            <i class="bi bi-dash ml-auto "></i>
                        </button>                            
                        <ul class="border-0 dropdown-menu dropdown-menu-dark collapse ajustarFondoSlides" id="envio2Dropdown">
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                Podrás conocer el costo de envío cuando ingreses el código Postal y tu dirección de entrega en el proceso de compra. También podes consultar el costo de despacho en la página de producto.
                            </li>
                        </ul>
            </li>
        </div>
        <!-- tercer slide -->
        <div class="navbar-nav d-flex flex-column">
            <!-- a tener en cuenta -->
            <li class="nav-item dropdown">
                        <button class="pl-0 border-0 btn btn-custom btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 ajustarFondoSlides" data-bs-toggle="collapse" data-bs-target="#envio3Dropdown" aria-expanded="false" aria-controls="envio3Dropdown">
                            <span>¿QUÉ DEBO TENER EN CUENTA PARA RECIBIR MI PEDIDO?</span>
                            <i class="bi bi-dash ml-auto "></i>
                        </button>                            
                        <ul class="border-0 dropdown-menu dropdown-menu-dark collapse ajustarFondoSlides" id="envio3Dropdown">
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                El pedido será entregado en la dirección ingresada y en la fecha seleccionada al momento de la compra. Sólo se entregará el pedido al titular de la tarjeta, presentando la misma y acreditando su identidad con el DNI, sin excepción.
                            </li>
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                Los pedidos se entregan en la puerta de la casa o Edificio , en ningún caso se ingresa al domicilio.
                            </li>
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                En el caso de que la entrega no se pueda realizar por un error en el domicilio informado o por ausencia de quien recibe, se deberá pactar una nueva fecha de entrega con costo a cargo del cliente.

                            </li>
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                Al momento de retirar o recibir el material comprado, deberás corroborar la cantidad y calidad de los productos.
                            </li>
                        </ul>
            </li>
        </div>
        <!-- cuarto slide -->
        <div class="navbar-nav d-flex flex-column">
            <!-- envio a domicilio -->
            <li class="nav-item dropdown">
                        <button class="pl-0 border-0 btn btn-custom btn-dark w-100 d-flex justify-content-between align-items-center border-bottom rounded-0 px-0 ajustarFondoSlides" data-bs-toggle="collapse" data-bs-target="#envio4Dropdown" aria-expanded="false" aria-controls="envio4Dropdown">
                            <span>¿QUÉ ES PEDIDO ESPECIAL O VENTA A PEDIDO?</span>
                            <i class="bi bi-dash ml-auto "></i>
                        </button>                            
                        <ul class="border-0 dropdown-menu dropdown-menu-dark collapse ajustarFondoSlides" id="envio4Dropdown">
                            <li class="dropdown-item text-wrap px-0 subSlideGenerico">
                                Los artículos de Pedido Especial o Venta por Pedido deben ser adquiridos en una órden separada al resto de los productos. El sistema te informará si tenés esta combinación de productos en tu carrito mediante un mensaje.
                            </li>
                        </ul>
            </li>
        </div>
</section>
</main>

<%- include('./partials/footer') %>


