<%- include('./partials/header') %>
<main class="habitaciones">
<section class="container">
    <div class=" my-4 color-blanco fs-5">
        HABITACIONES
    </div>
    <div class="row pe-0 ">
        <!-- dormitorio -->
            <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
                
                <a href="/tienda/Habitacion/Dormitorio" class="text-decoration-none">
                    <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                        <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/2631746/pexels-photo-2631746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                    </div>
                    <!-- Overlay con enlace -->
                    <div class="overlay d-flex justify-content-center align-items-center">
                        <span class="overlay-text">Dormitorio<i class="bi bi-arrow-up-right"></i></span>
                    </div>
                </a>
            </div>
        <!-- cocina -->
            <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
                
                <a href="/tienda/Habitacion/Cocina" class="text-decoration-none">
                    <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                        <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                    </div>
                    <!-- Overlay con enlace -->
                    <div class="overlay d-flex justify-content-center align-items-center">
                        <span class="overlay-text">Cocina<i class="bi bi-arrow-up-right"></i></span>
                    </div>
                </a>
            </div>
        <!-- Sala de estar -->
        <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
            <a href="/tienda/Habitacion/Sala de estar" class="text-decoration-none link-hover-categoria">
                <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                    <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/1571458/pexels-photo-1571458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                </div>
                <!-- Overlay con enlace -->
                <div class="overlay d-flex justify-content-center align-items-center">
                    <span class="overlay-text">Sala de estar <i class="bi bi-arrow-up-right"></i></span>
                </div>
            </a>
        </div>
        <!-- Comedor -->
        <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
                
            <a href="/tienda/Habitacion/Comedor" class="text-decoration-none">
                <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                    <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/2029673/pexels-photo-2029673.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                </div>
                <!-- Overlay con enlace -->
                <div class="overlay d-flex justify-content-center align-items-center">
                    <span class="overlay-text">Comedor <i class="bi bi-arrow-up-right"></i></span>
                </div>
            </a>
        </div>
        <!-- Habitaciones de niños -->
        <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
                
            <a href="/tienda/Habitacion/Habitaciones de niños" class="text-decoration-none">
                <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                    <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/1648768/pexels-photo-1648768.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                </div>
                <!-- Overlay con enlace -->
                <div class="overlay d-flex justify-content-center align-items-center">
                    <span class="overlay-text">Habitacion de niños<i class="bi bi-arrow-up-right"></i></span>
                </div>
            </a>

        </div>
        <!-- Baño -->
        <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
                
            <a href="/tienda/Habitacion/Baño" class="text-decoration-none">
                <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                    <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/1909791/pexels-photo-1909791.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                </div>
                <!-- Overlay con enlace -->
                <div class="overlay d-flex justify-content-center align-items-center">
                    <span class="overlay-text">Baño<i class="bi bi-arrow-up-right"></i></span>
                </div>
            </a>
        </div>
        <!-- Oficina -->
        <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
                
            <a href="/tienda/Habitacion/Oficina" class="text-decoration-none">
            <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/159839/office-home-house-desk-159839.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            </div>
            <!-- Overlay con enlace -->
            <div class="overlay d-flex justify-content-center align-items-center">
                <span class="overlay-text">Oficina<i class="bi bi-arrow-up-right"></i></span>
            </div>
            </a>
        </div>
        <!-- Balcón y terraza -->
        <div class="col-12 col-md-3 card border-0 tajetaFondo px-2 py-3 position-relative">
                
            <a href="/tienda/Habitacion/Balcón y terraza" class="text-decoration-none">
                <div class="px-0 mx-0 pb-0 ratio ratio-4x3 card-img-top">
                    <img class="rounded-0 " alt="imagen card" src="https://images.pexels.com/photos/133920/pexels-photo-133920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                </div>
                <!-- Overlay con enlace -->
                <div class="overlay d-flex justify-content-center align-items-center">
                    <span class="overlay-text">Balcón y terraza<i class="bi bi-arrow-up-right"></i></span>
                </div>
                
            </a>
        </div>
    </div>
        
               
                
            
                                        
            
            
    
    
</section>
</main>

<%- include('./partials/footer') %>

