<%- include('partials/header') %>
<main>
    <!-- SECCION HERO PAG-PRINCIPAL  -->
    <section class="Hero" >
        
        
        <div class="container seccion-Hero-inicio">

            <h1 class="w-100">HOUSE LAB</h1>
            
            
            <p class="col-12 col-lg-9 lh-sm">Tu fuente de inspiración para la decoración moderna y elegante de tu hogar. Ofrecemos muebles y accesorios de alta calidad para hacer de tu hogar un espacio único y acogedor que refleje tu estilo y gusto.</p>
            
            
            <img src="/img/imagen hero (1).jpg" alt="" class="w-100">   

        </div>


    </section>
    <!-- FINALIZA SECCION HERO PAG-PRINCIPAL  -->

    <!-- COMIENZA SECCION DOS PAG-PRINCIPAL -->
     <section class="seccionDos-inicio">

        <div class="container">
            
            <div class="row justify-content-between h3-p-sobreEmpresa">
                <h3 class="col-sm-12 col-lg-4 ">
                     LA MEJOR TIENDA DE MUEBLES Y ARTE DE EUROPA
                </h3>
    
                <p class="col-sm-12 col-lg-6 lh-sm">
                    House LAB es una empresa pionera dedicada a la creación de muebles y elementos decorativos modernos para el hogar. Nuestro objetivo principal gira en torno a la conversión de espacios comunes en refugios cautivadores, donde la estética y la utilidad se entrelazan a la perfección. Al combinar componentes de calidad suprema con ingenio imaginativo, damos vida a creaciones que acentúan las preferencias distintivas de cada cliente.
                </p>  
            </div>

            <div class="d-flex justify-content-between contenedorImagenes-living-bedroom">

                <!-- CATEGORIA LIVING   -->

                <div class="position-relative col-6">
                    <img src="/img/living room-sofa.jpg" alt="imagen de una sala de estar con sofás y mesa" class="img-fluid  w-100 h-100 object-fit-cover imagenSDinicio1"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                <!-- Overlay con enlace -->
                    <a href="#" class="overlay d-flex justify-content-center align-items-center  link-hover-categoria">
                     <span class="overlay-text">Sala de estar <i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

                <!-- CATEGORIA DORMITORIOS-->
                
                <div class="position-relative col-3">
                    <img src="/img/bedroom pag inicio2.jpg" alt="imagen de habitacion con cama, muebles a los costados y al pie de la cama" class="img-fluid  w-100 h-100 object-fit-cover imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                     <!-- Overlay con enlace -->
                    <a href="#" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                        <span class="overlay-text">Dormitorio <i class="bi bi-arrow-up-right"></i></span>
                    </a>
                </div>
                
                

            </div>

            <div class="d-flex justify-content-end mt-3 contenedorImagenes-bathroom-cocina-escritorio">

                <!-- CATEGORIA BAÑO -->

                <div class="position-relative col-3">
                    <img src="/img/baño pag inicio.jpg" alt="imagen de baño con mueble de madera, rustico. " class="img-fluid  w-100 h-100 object-fit-cover imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                <!-- Overlay con enlace -->
                    <a href="#" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                     <span class="overlay-text">Baño <i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

                <!-- CATEGORIA COCINAS -->
                <div class="position-relative col-3 contenedorCategoria">
                    <img src="/img/imagen cocina-banquetas.jpg" alt="imagen de cocina con mesada, isla y banquetas de madera a juego" class="img-fluid  w-100 h-100 object-fit-cover imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                    <!-- Overlay con enlace -->
                    <a href="#" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                     <span class="overlay-text">Cocina<i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

                <!-- CATEGORIA ESCRITORIOS -->
                <div class="position-relative col-3 contenedorCategoria">
                    <img src="/img/escritorio.jpg" alt="imagen de escritorio color negro" class="img-fluid  w-100 h-100 object-fit-cover imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                <!-- Overlay con enlace -->
                    <a href="#" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                     <span class="overlay-text">Escritorio <i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

            </div>
        </div>

     </section>


    <!-- --------------- FINALIZA SECCION DOS PAGINA INICIO ------------------- -->


    <!-- --------------- COMIENZA SECCION TRES PAGINA INICIO ------------------- -->
     <section class="seccionTres-inicio">
        <div class="container">
            <div class="row justify-content-between col-12 h3-p-sobreEmpresa">
                <h3 class="col-sm-12 col-lg-4 ">
                    PRODUCCIÓN DE MUEBLES MODERNOS Y ARTESANÍA
                </h3>
    
                <p class="col-sm-12 col-lg-6 lh-sm">
                    Nuestra producción es un lugar donde se crean milagros de manos y se plasman las ideas de diseño más atrevidas. Nos enorgullecemos de la artesanía y la pasión por la belleza y la funcionalidad. Visite nuestra producción y descubra cómo nacen obras maestras únicas que aportan belleza a la vida de cada uno de nuestros clientes.
                </p>  
            </div>

            <div class="col-12 d-flex g-3 h-25 h-md-none contenedorImagenesSeccionTres">
                <div class="col-5">
                    <img src="/img/muestras de madera.png" alt="imagen de muestras de tipos de maderas" class="img-fluid  w-100 h-100 object-fit-cover imagenSTinicio">
                </div>
                 
                <div class="col-3 ">
                    <img src="/img/madera trabajada.jpg" alt="imagen de trabajo sobre madera" class="img-fluid  w-100 h-100 object-fit-cover imagenSTinicio">
                </div>

                <div class="col-3">
                    <img src="/img/corte madera.jpg" alt="imagen de corte sobre una madera" class="img-fluid  w-100 h-100 object-fit-coverimagenSTinicio">
                </div>

            </div>
           

            
        </div>

     </section>
     

    <!-- --------------- COMIENZA SECCION CUATRO PAGINA INICIO ------------------- -->

    <section class="seccionCuatro-inicio">

        <div class="container">
    
            <h3 class="pb-3">
                MEJORES OFERTAS
            </h3>  
    
            <div class="row contenedorDe-Img-Descripcion-Flechita">
    
                <!-- Imagen principal -->
                <img src="/img/imagen sofa de cuero marron.jpg" alt="" class="h-auto col-12 col-md-5 pb-3 pb-md-0">
    
                <!-- Descripción -->
                <div class="col-12 col-md-5 descripcionArticulo">
                    <h5 class="pb-1">
                        SOFA DE CUERO LAB
                    </h5>
    
                    <p class="pb-2 lh-sm">
                        Sumérgete en el lujo y la comodidad con nuestro sofá de cuero marrón. Fabricado con cuero genuino de la mejor calidad, este sofá promete resistencia y elegancia, todo en uno.
                    </p>
    
                    <ul class="list-unstyled lh-1 ul-descripcion-sofa">
                        <li class="mb-2">Piel de becerro de alta calidad</li>
                        <hr class="mt-2">
                        <li class="mb-2">Fabricada en Reino Unido</li>
                        <hr class="mt-2">
                        <li class="mb-2">Base de roble y acero</li>
                        <hr class="mt-2">
                        <li class="mb-2">Garantía de 25 años</li>
                        <hr class="mt-2">
                    </ul>
    
                    <div class="row  contenedor-img-sofa">
                        <div class="col-4">
                            <img src="/img/imagen sofa de cuero marron-angulo 2.jpg" alt="" class="img-fluid h-75">
                        </div>
                        <div class="col-4">
                            <img src="/img/imagen sofa de cuero marron-angulo 1.jpg" alt="" class="img-fluid h-75">
                        </div>
                        <div class="col-4">
                            <img src="/img/imagen sofa de cuero marron-muestra.jpg" alt="" class="img-fluid h-75">
                        </div>
                    </div>
    
                    <a href="/tienda/productos/67041c841e118c22fca9fe97" class="text-reset text-decoration-none fw-semibold hover-Amarillo">SEE MORE <i class="bi bi-arrow-up-right"></i></a>
    
                </div>
    
                <!-- Flecha de navegación -->
                <a href="#link-que-lleva-pagina-del-producto" class="d-none d-md-flex align-items-center col-md-1 fs-3 fw-light text-secondary hover-Amarillo"><i class="bi bi-arrow-right-circle"></i></a>
    
            </div>
    
        </div>
    
    </section>
    



    <!-- -------------- FINALIZA SECCION CUATRO PAGINA INICIO -------------------- -->

    <!-- -------------- COMIENZA SECCION CINCO PAGINA INICIO -------------------- -->

    <section class="seccionCinco-inicio">

        <div class="container">

            <div class="row ">

                <img src="https://github.com/LudmilaBerto/imagenes-e-commerce/blob/main/img/imagenes%20pagina%20inicio/sofa%20gris%20almohadas%20amarillas.jpg?raw=true" alt="sofa gris almohadas amarillas" class="h-auto col-12 col-md-5 d-none d-md-block">

                <div class="col-12 col-md-6 descripcionDescuento">
                    <h4>SUSCRÍBETE Y OBTÉN UN 10% DE DESCUENTO</h4>
                    <p  class="lh-sm pt-2">Suscríbete a nuestra newsletter para estar al día de las últimas novedades, promociones y ofertas de House LAB. Sé el primero en recibir notificaciones sobre nuestras nuevas colecciones de muebles y accesorios para el hogar, así como...</p>
                    <form class="ul-descripcion-sofa">
                        <div class="mb-0">
                            <input type="text" id="name" name="name" required placeholder="Introduce tu nombre" class="form-input pb-1"/>
                            <hr class="mt-0 mb-2">
                        </div>
                        
                        <div class="mb-0">
                            <input type="email" id="email" name="email" required placeholder="Introduce tu e-mail" class="form-input pt-0 pb-1"/>
                            <hr class="mt-0">
                        </div>

                        <button type="submit" class="btn mt-3 boton-subscripcion">
                            <i class="bi bi-arrow-up-right"></i>
                        </button>
                    </form>
        
                </div>
            </div>
            
        </div>


    </section>




    <!-- -------------- FINALIZA SECCION CINCO PAGINA INICIO -------------------- -->
    <!-- -------------- COMIENZA SECCION SEIS PAGINA INICIO -------------------- -->
    <section class="seccionSeis-inicio">
        <div class="container">
            <h3 class="pb-3">
                PROMOCIONES
            </h3> 

            <div class="row g-3">
                
                <div class="col-lg-4 col-md-6 mb-4 d-flex flex-column contenedorOverlay-h3-p">
                    <div class="position-relative w-100">
                        <img src="https://github.com/LudmilaBerto/imagenes-e-commerce/blob/main/img/imagenes%20pagina%20inicio/imagen%20silla%20mesa%20escritorio-%20pag%20inicio.jpg?raw=true" alt="" class="img-fluid w-100 h-100 object-fit-cover imagenSDinicio3"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                        <!-- Overlay con enlace -->
                        <a href="#" class="overlay d-flex justify-content-center     align-items-center link-hover-categoria">
                        <span class="overlay-text">VER MÁS <i class="bi bi-arrow-up-right"></i></span>
                        </a>
                    </div>
                    <h6 class="pt-3">ENTREGA GRATUITA PARA EL PRIMER PEDIDO</h6>

                    <p class="pt-1 lh-sm">Nos complace ofrecerle envío gratuito para su primer pedido en nuestra tienda. Disfrute de la comodidad de comprar y reciba sus muebles y accesorios directamente en su puerta, sin costo adicional.</p>
                </div>
                <!-- ----------------------------------------------------------------- -->

                <div class="col-lg-4 col-md-6 mb-4 d-flex flex-column  contenedorOverlay-h3-p2">

                    <div class="position-relative w-100 contenedorCategoria">
                        <img src="https://raw.githubusercontent.com/LudmilaBerto/imagenes-e-commerce/6789dc0c06949c9ab07be4be633b4936e10b2a19/imagen%20sillon%20individual%20con%20mesita%20pag%20inicio2.jpg" alt="" class="img-fluid w-100 h-100 object-fit-cover imagenSDinicio3"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                        <!-- Overlay con enlace -->
                        <a href="#" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                        <span class="overlay-text">VER MÁS <i class="bi bi-arrow-up-right"></i></span>
                        </a>
                    </div>

                    <h6 class="pt-3">10% DESCUENTO NUEVOS INQUILINOS</h6>
                    <p class="pt-1 lh-sm">¡Felicitaciones por su nuevo hogar! Para crear un ambiente acogedor y elegante, le ofrecemos...</p>
                </div>
                <!-- ---------------------------------------------------------------- -->

                <div class="col-lg-4 col-md-6 mb-4 d-flex flex-column contenedorOverlay-h3-p2">
                    <div class="position-relative w-100 contenedorCategoria">
                        <img src="https://raw.githubusercontent.com/LudmilaBerto/imagenes-e-commerce/2fa917d8888a2b146ad0638820d4470bad3ef79a/img/imagenes%20pagina%20inicio/accesorios%20para%20hogar-%20pag%20inicio.jpg" alt="" class="img-fluid w-100 h-100 object-fit-cover imagenSDinicio3"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                        <!-- Overlay con enlace -->
                        <a href="#" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                        <span class="overlay-text">VER MÁS <i class="bi bi-arrow-up-right"></i></span>
                        </a>
                    </div>

                    <h6 class="pt-3">5% DE DESCUENTO PARA ACCESORIOS</h6>
                    <p class="pt-1 lh-sm">Haga realidad sus ideas de diseño con nuestros exclusivos accesorios para el hogar. Compre artículos elegantes y obtenga un descuento especial del 5 %...</p>

                </div>
            </div>
        </div>
    </section>

    <!-- -------------- FINALIZA SECCION SEIS PAGINA INICIO -------------------- -->


</main>
    <!-- ------------------FOOTER ------------------------------------------- -->

    <%- include('partials/footer') %>

</body>
</html>