<%- include('partials/header') %>
    <!-- SECCION HERO PAG-PRINCIPAL  -->
    <section class="Hero" >
        
        
        <div class="container seccion-Hero-inicio">

            <h1 class="w-100">HOUSE LAB</h1>
            
            
            <p class="col-12 col-lg-9 lh-sm">Tu fuente de inspiración para la decoración moderna y elegante de tu hogar. Ofrecemos muebles y accesorios de alta calidad para hacer de tu hogar un espacio único y acogedor que refleje tu estilo y gusto.</p>
            
            
            <img src="img/imagen hero (1).jpg" alt="" class="w-100">   

        </div>


    </section>
    <!-- FINALIZA SECCION HERO PAG-PRINCIPAL  -->

    <!-- COMIENZA SECCION DOS PAG-PRINCIPAL -->
     <section class="seccionDos-inicio">

        <div class="container">
            
            <div class="row justify-content-between h3-p-sobreEmpresa">
                <h3 class="col-sm-12 col-lg-4 ">
                     LA MEJOR TIENDA DE MUEBLES Y ARTE DE EUROPA
                </h3>
    
                <p class="col-sm-12 col-lg-6 lh-sm">
                    House LAB es una empresa pionera dedicada a la creación de muebles y elementos decorativos modernos para el hogar. Nuestro objetivo principal gira en torno a la conversión de espacios comunes en refugios cautivadores, donde la estética y la utilidad se entrelazan a la perfección. Al combinar componentes de calidad suprema con ingenio imaginativo, damos vida a creaciones que acentúan las preferencias distintivas de cada cliente.
                </p>  
            </div>

            <div class="d-flex justify-content-between contenedorImagenes-living-bedroom">

                <!-- CATEGORIA LIVING   -->

                <div class="position-relative col-6">
                    <img src="img/living room-sofa.jpg" alt="imagen de una sala de estar con sofás y mesa" class="img-fluid imagenSDinicio1"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                <!-- Overlay con enlace -->
                    <a href="/categoria/salas-de-estar" class="overlay d-flex justify-content-center align-items-center  link-hover-categoria">
                     <span class="overlay-text">Sala de estar <i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

                <!-- CATEGORIA DORMITORIOS-->
                
                <div class="position-relative col-3">
                    <img src="img/bedroom pag inicio2.jpg" alt="imagen de habitacion con cama, muebles a los costados y al pie de la cama" class="img-fluid imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                     <!-- Overlay con enlace -->
                    <a href="/categoria/dormitorios" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                        <span class="overlay-text">Dormitorio <i class="bi bi-arrow-up-right"></i></span>
                    </a>
                </div>
                
                

            </div>

            <div class="d-flex justify-content-end mt-3 contenedorImagenes-bathroom-cocina-escritorio">

                <!-- CATEGORIA BAÑO -->

                <div class="position-relative col-3">
                    <img src="img/baño pag inicio.jpg" alt="imagen de baño con mueble de madera, rustico. " class="img-fluid imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                <!-- Overlay con enlace -->
                    <a href="/categoria/baños" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                     <span class="overlay-text">Baño <i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

                <!-- CATEGORIA COCINAS -->
                <div class="position-relative col-3 contenedorCategoria">
                    <img src="img/imagen cocina-banquetas.jpg" alt="imagen de cocina con mesada, isla y banquetas de madera a juego" class="img-fluid imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                    <!-- Overlay con enlace -->
                    <a href="/categoria/cocinas" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                     <span class="overlay-text">Cocina<i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

                <!-- CATEGORIA ESCRITORIOS -->
                <div class="position-relative col-3 contenedorCategoria">
                    <img src="img/escritorio.jpg" alt="imagen de escritorio color negro" class="img-fluid imagenSDinicio2"> <!-- IMAGEN QUE TIENE EL OVERLAY HOVER -->
                <!-- Overlay con enlace -->
                    <a href="/categoria/escritorios" class="overlay d-flex justify-content-center align-items-center link-hover-categoria">
                     <span class="overlay-text">Escritorio <i class="bi bi-arrow-up-right"></i></span>
                       </a>
                </div>

            </div>
        </div>

     </section>


    <!-- --------------- FINALIZA SECCION DOS PAGINA INICIO ------------------- -->


    <!-- --------------- COMIENZA SECCION TRES PAGINA INICIO ------------------- -->
     <section class="seccionTres-inicio">
        <div class="container">
            <div class="row justify-content-between h3-p-sobreEmpresa">
                <h3 class="col-sm-12 col-lg-4 ">
                    PRODUCCIÓN DE MUEBLES MODERNOS Y ARTESANÍA
                </h3>
    
                <p class="col-sm-12 col-lg-6 lh-sm">
                    Nuestra producción es un lugar donde se crean milagros de manos y se plasman las ideas de diseño más atrevidas. Nos enorgullecemos de la artesanía y la pasión por la belleza y la funcionalidad. Visite nuestra producción y descubra cómo nacen obras maestras únicas que aportan belleza a la vida de cada uno de nuestros clientes.
                </p>  
            </div>

            <div class="contenedorImagenesSeccionTres">

                 <img src="img/muestras de madera.png" alt="imagen de muestras de tipos de maderas" class="img-fluid col-5 imagenSTinicio">

                <img src="img/madera trabajada.jpg" alt="imagen de trabajo sobre madera" class="img-fluid col-3 imagenSTinicio">

                 <img src="img/corte madera.jpg" alt="imagen de corte sobre una madera" class="img-fluid col-3 imagenSTinicio">

            </div>
           

            
        </div>

     </section>
     
    <%- include('partials/footer') %>

    <!-- --------------- COMIENZA SECCION CUATRO PAGINA INICIO ------------------- -->

     <section class="seccionCuatro-inicio">

        <div class="container ">

            <h3 class="pb-3">
                MEJORES OFERTAS
            </h3>  

            <div class="row contenedorDe-Img-Descripcion-Flechita">
                
                <img src="img/imagen sofa de cuero marron.jpg" alt="" class="img-fluid h-auto col-12 col-md-6 pb-3 pb-md-0">

                <div class="col-12 col-md-5 descripcionArticulo">
                    <h5 class="pb-1">
                        SOFA DE CUERO LAB
                    </h5>

                    <P class="pb-2 lh-sm">
                        Sumérgete en el lujo y la comodidad con nuestro sofá de cuero marrón. Fabricado con cuero genuino de la mejor calidad, este sofá promete resistencia y elegancia, todo en uno.
                    </P>

                    <ul class="list-unstyled lh-1 ul-descripcion-sofa">
                        <li class="mb-2">Piel de becerro de alta calidad</li>
                        <hr class="mt-2">
                        <li class="mb-2">Fabricada en Reino Unido</li>
                        <hr class="mt-2">
                        <li class="mb-2">Base de roble y acero</li>
                        <hr class="mt-2">
                        <li class="mb-2">Garantía de 25 años</li>
                        <hr class="mt-2">
                    </ul>

                    <div class="row pb-3 contenedor-img-sofa">

                        <img src="img/imagen sofa de cuero marron-angulo 2.jpg" alt="" class="img-fluid h-75 col-4">
                    
                        <img src="img/imagen sofa de cuero marron-angulo 1.jpg" alt="" class="img-fluid h-75 col-4">
                        
                        <img src="img/imagen sofa de cuero marron-muestra.jpg" alt="" class="img-fluid h-75 col-4">

                    </div>
                    
                    
                    <a href="#ver-mas-sobre-producto" class="text-reset text-decoration-none fw-semibold hover-Amarillo">SEE MORE <i class="bi bi-arrow-up-right"></i></a>

                </div>

                <a href="#link-que-lleva-pagina-del-producto" class="d-none d-md-flex align-items-center col-md-1 fs-3 fw-light text-secondary hover-Amarillo"><i class="bi bi-arrow-right-circle"></i></a>

            </div>


        </div>


     </section>



    <!-- -------------- FINALIZA SECCION CUATRO PAGINA INICIO -------------------- -->



    <script src="/js/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>