@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    padding: 0;
    margin: 0;
}

:root{
    --ColorPrincipal:#272727;
    --ColorSecundario:#f4f4f4;
    --ColorTerciario:#B7B7B7;
    --colorCuartoMenosBlanco:#e5e4e3;
    --ColorAmarillo:#e97a00;
    --FontFamily:"Open Sans", sans-serif;
    --FontFamilyRoboto:"Roboto", system-ui;
    /* footer */
    --seller:#414141;
}



/* ------------------ BODY  -------------------*/
.body{
    background-color: var(--ColorPrincipal);
}




/* ---------------------COMIENZA EL HEADER------------------------------------------- */

.header{
    background-color: var(--ColorPrincipal);
    font-family: var(--FontFamily);
}

.logo{
    color: var(--ColorSecundario);
    pointer-events: none; /* Desactiva eventos de interacción (como hover o clics) */
    font-weight: 400;
}

 /* estilizo la barra de navegacion del header */
.navegador{
    color: var(--ColorSecundario);
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
}
.navegador:hover{
    color: var(--ColorAmarillo);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Agrega sombra al ícono */

}

/* estilizo el contenedor del buscador */

#search-box {
    display: none; /* Oculta el search-box por defecto */
}

.caja-de-busqueda{
    border-radius: 8px;
    background-color: #313131;
}

/* ESTILIZO EL INPUT DEL BUSCADOR */
.input-buscar{
    border: none;
    color: var(--ColorSecundario);
    background-color: #313131;
    margin-left: 5px;
}
.input-buscar:focus{
    outline: none; /* Elimina el contorno predeterminado */

}
/* equis del buscador */
.limpiar-buscador{
    color: #000;
}

.limpiar-buscador:hover{
    color: var(--ColorAmarillo);
}

/* icono de buscador */
.iconSearch{
    color: var(--ColorSecundario);
    font-size: 15px;
    transition: transform 0.3s ease; /* Transición suave */
}
.iconSearch:hover {
    color: var(--ColorAmarillo); /* Cambia el color al pasar el mouse */
    
}

/* ESTILIZO LOS ICONOS DEL CARRITO Y EL USER */
.iconNav {
    color: var(--ColorSecundario);
    margin-right: 10px;
    font-size: 15px;
    transition: transform 0.3s ease; /* Transición suave */
}

.iconNav:hover {
    color: var(--ColorAmarillo); /* Cambia el color al pasar el mouse */
}

/* ---------------------FINALIZA EL HEADER------------------------------------------- */


/*--------------------- COMIENZA HERO PAGINA INICIO ---------------------------------- */


.Hero{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);
}
.seccion-Hero-inicio h1{
    font-size: 140px;
    font-weight: 600;
    padding-top: 40px;
}
.seccion-Hero-inicio p{
    font-size: 15px;
    padding-bottom: 35px;
}



/* FINALIZA HERO PAGINA INICIO */

/* COMIENZA SECCION DOS PAGINA INICIO */

.seccionDos-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);
}

/* pongo espacio arriba para separarlo del contenido del hero */

.h3-p-sobreEmpresa{
    padding-top: 150px;
    padding-bottom: 70px;
}

.h3-p-sobreEmpresa p{
    font-size: 14px;
}

/* contenedor de imagenes contenedorImagenes-living-bedroom */

.contenedorImagenes-living-bedroom{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea */
    gap: 10px; /* Espacio entre elementos */
}
.contenedorImagenes-bathroom-cocina-escritorio{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea */
    gap: 10px; /* Espacio entre elementos */
}

/* tamaño de las imagenes de categorias */
.imagenSDinicio1{
    flex: 1 1 30%; /* Permite que las imágenes ocupen aproximadamente el 30% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de altura automática */
    max-width: 100%;
}
.imagenSDinicio2{
    flex: 1 1 30%; /* Permite que las imágenes ocupen aproximadamente el 30% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de altura automática */
    max-width: 100%;
}

/* separo imagenes del baño, living y escritorio */

.contenedorCategoria{
    margin-left: 15px;
}

/* Estilos para el overlay  y etiqueta link*/

.link-hover-categoria{
    text-decoration: none;
}

/* hover de las imagenes de categorias */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128,91,51, 0.5); /* Capa semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave */
}

.position-relative:hover .overlay {
    opacity: 1; /* Mostrar el overlay al hacer hover */
}

.overlay-text {
    color: var(--ColorSecundario);
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
}

.overlay-text i {
    margin-left: 10px; /* Espacio entre el texto y el ícono */
}

/* ------------------- FINALIZA SECCION DOS PAGINA INICIO ---------------------------- */


/* ------------------- COMIENZA SECCION TRES PAGINA INICIO ---------------------------- */

.seccionTres-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);

}

.contenedorImagenesSeccionTres{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea */
    gap: 14px; /* Espacio entre elementos */
}

.imagenSTinicio{
    flex: 1 1 25%; /* Permite que las imágenes ocupen aproximadamente el 30% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de altura automática */
}
/* ------------------- FINALIZA SECCION TRES PAGINA INICIO ---------------------------- */

/* ------------------- COMIENZA SECCION CUATRO PAGINA INICIO ---------------------------- */
.seccionCuatro-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);
    padding-top: 150px;
}
.descripcionArticulo h5{
    font-weight: 600;
}
.descripcionArticulo p{
    font-size: 12px;
    color: var(--ColorTerciario);
}

.ul-descripcion-sofa{
    font-size: 13px;
    font-weight: 400;
}

.hover-Amarillo:hover{
    color: #e97a00 !important;
}




/* ------------------- FINALIZA SECCION CUATRO PAGINA INICIO ---------------------------- */
/* ------------------- COMIENZA SECCION CINCO PAGINA INICIO ---------------------------- */
.seccionCinco-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    padding-top: 150px;
}

.descripcionDescuento h4{
    font-family: var(--FontFamily);
    font-weight: 600;
}
.descripcionDescuento p{
    font-family: var(--FontFamilyRoboto);
    font-size: 12px;
    font-weight: 300;
}





/* ------------------- FINALIZA SECCION CINCO PAGINA INICIO ---------------------------- */
/* ------------------- COMIENZA SECCION SEIS PAGINA INICIO ---------------------------- */

.seccionSeis-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    padding-top: 150px;
}


.imagenSDinicio3{
    flex: 1 1 100%; /* Permite que las imágenes ocupen aproximadamente el 30% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de altura automática */
    max-width: 100%;
}
.contenedorOverlay-h3-p h6{
    font-size: 14px;
    font-weight: 400;
}
.contenedorOverlay-h3-p p{
    font-size: 12px;
    color: var(--ColorTerciario);
}
.contenedorOverlay-h3-p2 h6{
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 15px;
}
.contenedorOverlay-h3-p2 p{
    font-size: 12px;
    color: var(--ColorTerciario);
    margin-left: 15px;
}

/* ------------------- FINALIZA SECCION SEIS PAGINA INICIO ---------------------------- */



/* ------------------------ FOOTER ------------------------------------------ */

.footer{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamilyRoboto);
}

/* CONTENEDOR DE FOOTER PARTE DE CONTACTOS */
.contenedorContactoFooter{
    padding-top: 55px;
}
.contenedorInfoContacto{
    padding-right: 35px;
}
.contenedorInfoContacto h4{
    font-weight: 500;
}
.contenedorInfoContacto p{
    font-size: 12px;
}
.comLogo{
    text-align: center;
    transform: translate(-80px, -10px);
}
.descrpcionCompania{
    font-size: 13px;
    font-weight: 400;
    color: var(--ColorTerciario);
}
/* iconos de contacto y ubicacion */
.iconContact{
    color: var(--ColorTerciario);
    padding-right: 5px;
}
.titulo-item-footer{
    font-weight: 600;
    font-size: 13px;
}
/* estilizacion de los link de servicio al consumidor y sobre la compania */
.links-footer{
    font-size: 12px;
    color: var(--ColorTerciario);

}
.links-footer:hover{
    color: var(--ColorAmarillo);
}

/* Input de email para subscripcion */
.newseller{
    background-color: var(--seller);
    cursor: pointer;
    color: var(--ColorSecundario); /* Para que el texto sea visible */
    left: 0;
}

.newseller:focus {
    outline: none; /* Elimina el borde al hacer clic */
    cursor: text;
}

.input-group{
    padding: 0 10px;
}
.botonFlecha{
    color: var(--ColorTerciario);
}

/* Logos de redes sociales de la compania */
.logos-footer{
    color: var(--ColorSecundario);
    padding-right: 15px;
}

.logos-footer:hover{
    color: var(--ColorAmarillo);
}

/* Seccion de derechos reservados */

.derechosReservados{
    font-size: 12px;
    font-weight: 300;
}

/* ------------------------ FINAL FOOTER ------------------------------------------ */


/* ------------------- INICIO CATALOGO ---------------------------- */

.catalogo{
    background-color: var(--ColorPrincipal);
    color: var(--ColorTerciario);
    font-family: var(--FontFamilyRoboto);

}
/* cambiar colores de texto*/
.color-blanco{
    color: var(--ColorSecundario);
}
/* color para los elementos del desplegables */
.color-terciario{
    color: var(--ColorTerciario) !important;
}
.color-titulo{
    color: var(--colorCuartoMenosBlanco);
}
/* clase para poner bien el color del fondo en despleables y cards*/
.ajustar-fondo{
    background-color: var(--ColorPrincipal ) !important;
    color: var(--ColorSecundario) !important;
}
/* SECCION 1 imagen + inicio/tienda */

/* BOTON ORDEN DE CARGA */
.shortby-boton-load-more{
    background-color: var(--seller) !important;
    cursor: pointer;
    color: var(--ColorSecundario); 
    
}
/* EStilizar busqueda desplegada */
.shortby{
    background-color: var(--seller) !important;
    cursor: pointer;
    color: var(--ColorSecundario) !important; 

}
.shortby:hover{
    color: var(--ColorAmarillo) !important;
    font-weight: bold;
}
/* SECCION 2 DESPLEGABLES */
/* catalogo */

/* espaciado entre span -- i*/
.btn-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_font{
    font-size: 14px;
}


/* barra de precio */

/* Le doy un margin-bottom a los nombre de los colores */
.circulos-coloresCatalogo{
    margin-bottom: 25px;
}

/*circulos de colores con imagenes */

.coloresDisponibles{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 2px,solid,white;
}

.sub-lide-colores:hover{
    
    border: 3px, solid, white;
    border-radius:  50px;
}

/* PERSONALIZACION BARRA PRECIO */
.barraPrecio {
    position: relative;
    width: 100%;
    height: 25px;
}
.barraPrecio input[type="range"] {
    position: absolute;
    width: 100%;
    height: 10%;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    background: white;
}
.barraPrecio input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.barraPrecio input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.barraPrecio input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}
.barraPrecio p {
    position: absolute;
    top: 10px;
    font-size: 14px;
    transform: translateX(-50%);
}
/* por si queremos que el rango tenga un color distinto */
.barraPrecio .barraRango {
    position: absolute;
    height: 5px;
    background-color: transparent;
    
    transform: translateY(-50%);
    z-index: 1;
}

/* clase para click en partes del slide al abrirse */
.sub-lide:active{
    background-color: var(--ColorPrincipal) !important;
}
.sub-lide:hover{
    background-color: var(--ColorPrincipal) !important;
    color: var(--ColorSecundario) !important;
}
.sub-lide:visisted{
    background-color: var(--ColorPrincipal) !important;
    color: var(--ColorSecundario);
    font-weight: bold;
}
.liPrice{
    background-color: var(--ColorPrincipal) !important;
}
/* SECCION 3 CARDS */


/* Estilo para que todas las imagenes ocupen lo mismo */
.card-img-top {
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    
}

/* TOTAL RESULTADOS Y BUSQUEDA POR */

/* Clase para agregar subrayado */
.subrayado{
    text-decoration: underline;
    color: var(--ColorTerciario) !important;

}

/* letra totalmente a la izquirda */
.text-left {
    margin-right: auto;
}
/* icono a la derecha */
.text-right {
    margin-left: auto;
}


/* ------------------- FINALIZA CATALOGO ---------------------------- */


/* ------------------- COMIENZA PRODUCTO ESPECIFICO ---------------------------- */


/* ----------------------SECCION UNO - PÁG PRODUCTO -----------------------------*/
.main-DescProduct{
    padding-top: 20px;
    font-family: var(--FontFamilyRoboto);
}
.rutaActual{
    text-decoration: none;
    color: var(--ColorTerciario);
    font-family: var(--FontFamilyRoboto);
    font-weight: 400;
    font-size: 14px;
}
.rutaActual:hover{
    text-decoration: underline;
}
.rutaActual:active{
    color: var(--ColorAmarillo);
}


/* Lista de imágenes del producto */

.seccionUno-PagProduct {
    overflow: hidden; /* Oculta cualquier contenido que desborde el contenedor */
}

#imageList {
    max-height: 380px; /* Establece una altura máxima para la lista de imágenes */
    overflow-y: auto; /* Permite el desplazamiento vertical si las imágenes son demasiadas */
    scrollbar-width: none; /* Para Firefox: Oculta la barra de desplazamiento */
    border-radius: 0;
}

/* Para Chrome, Safari y otros navegadores webkit */
#imageList::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

#imageList img {
    max-width: 100%; /* Limita el ancho de las imágenes al 100% de su contenedor */
    height: auto; /* Mantiene la relación de aspecto */
}


/* imagenes del carrucel */
.carrucel-imagenes{
    padding-left: 0px;
}
.carrucel-imagenes img {
    width: 100%;           /* Se ajusta al ancho del contenedor */
    height: 380px;         /* Altura fija */
    object-fit: cover;     /* Mantiene las proporciones y cubre el contenedor */
}

.carousel-indicators button {
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important; /* Hace que el botón sea circular */
}

.carousel-indicators .active {
    background-color: #fff; /* Color del botón activo */
}

.icono-antes-despues{
    font-size: 25px;
    color: #000;
    background-color: var(--ColorSecundario);
    border: none;
    border-radius: 50%; /* Para hacer el fondo circular */
    padding: 3px 9px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Añadir sombra suave */
}

.descripcionProduct h5{
    font-family: var(--FontFamil);
    color: var(--ColorSecundario);
}
.descripcionProduct hr{
    color: var(--ColorTerciario);
}

/* Titulos de la pagina producto */
.titulo{
    font-family: var(--FontFamily);
    font-weight: 500;
    font-size: 20px ;
    color:  var(--ColorSecundario);
}
/* le doy estilos a los numero de puntuacion y reseña */
.PuntuacionEstrella i,p{
    font-family: var(--FontFamilyRoboto);
    color: var(--ColorSecundario);
    margin-right: 4px;
}
.contadorReseña{
    color: var(--ColorSecundario);
}
.contadorReseña:hover{
    text-decoration: underline !important;
}
/*Estilos para la Descripcion breve del producto */
.descripcionProducto{
    font-family: var(--FontFamilyRoboto);
    color:var(--ColorTerciario) ;
    font-size: 12px;
}

/* Le doy un margin-bottom a los nombre de los colores */
.circulos-colores{
    margin-bottom: 25px;
}



/* BOTON de agregar al carrito */
.botonAddCarrito{
    font-family: var(--FontFamilyRoboto);
    font-weight: 500;
    font-size: 13px;
    background-color: var(--ColorSecundario);
    border-radius: 2px !important;
    margin-top: -8px;
}
.botonAddCarrito:hover{
    background-color: var(--ColorSecundario);
    color: var(--ColorAmarillo);
}

/* BOTON de agregar a favoritos */
.iconCorazon{
    background-color: #333333;
    color: var(--ColorSecundario);
    border-radius: 3px !important;
    margin-left: 8px;
    margin-top: -8px;
}
.iconCorazon:hover{
    color: var(--ColorAmarillo);
    background-color: #333333 !important;

}

/*circulos de colores con imagenes */

.imgCirculoColor{
    width: 28px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    margin-top: 4px;
}
.imgCirculoColor:focus,
.imgCirculoColor:active {
    outline: none;            /* Sin contorno por defecto */
    border: 2px solid #ffff; /* Borde amarillo al hacer clic o al enfocar */
    border-radius: 50%;      /* Borde redondeado al 50% */
}

/* estilizacion a las etiquetas <p> de detalles de envio y devolucion */
.entrega-devolucion{
    font-family: var(--FontFamilyRoboto);
    color: #ffffffd8;
    font-size: 13px;
}
.entrega-devolucion span{
    color: var(--ColorSecundario);
    font-weight: 500;
}

/* ----------------------SECCION DOS - PÁG PRODUCTO -----------------------------*/


.hr-inline {
    width: 50px; /* Ajusta el ancho del "hr" */
    border-top: 1px solid #b7b7b77f; /* Estilo del "hr" */
    margin-top: 5px;
    padding: 0 80px; /* Ajusta el espacio alrededor */
    vertical-align: middle; /* Alinea con el texto */
}

.subtituloCaracteristicas{
    font-family: var(--FontFamily);
    font-size: 14px;
    color: #ffffffd8;
}

.caracteristicaProducto{
    font-weight: 600;
    font-size: 13px;
    color: #b7b7b7c0;

}

/* ----------------------SECCION TRES - PÁG PRODUCTO -----------------------------*/

.img-usuario{
    width: 65px;
    height: 40px;
}
.contenedor-img-nombre-fecha-usuario hr{
    color: var(--ColorTerciario);
}

.verMasReseñas{
    color: var(--ColorSecundario) !important;
    font-weight: 500;
    font-size: 16px;  
}
.verMasReseñas:hover{
    color: var(--ColorAmarillo) !important;
}

/* ----------------------SECCION CUATRO - PÁG PRODUCTO -----------------------------*/

.contenedorDeCards .card {
    background-color: var(--ColorPrincipal); /* Fondo de las tarjetas */
    border: none; /*borde de las tarjetas*/
}
.contenedorDeCards .card:hover{
    background-color: #383838;
}
/* Contenedor de la imagen para mantener la proporción */
.img-container {
    width: 100%;
    aspect-ratio: 4/3; /* Relación de aspecto 4:3 (puedes ajustar según tus imágenes) */
    border-radius: 2px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 2px;   /* border radius de la imagenes de las tarjetas */
}
  
.contenedorDeCards .card .titulo-tarjeta {
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    color: var(--ColorSecundario); 
    padding-top: 15px;
    font-weight: 400;
}
  

/* INDEX:JS circulos de colores disponibles del producto */
.colores-disponibles {
    margin: 20px 0;
  }
  
  .color-circles {
    display: flex;
    gap: 10px;
  }
  
  .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc; /* Opcional: para un borde alrededor del círculo */
    cursor: pointer;
  }

/* ------------------- FINALIZA PRODUCTO ESPECIFICO ---------------------------- */
