@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root{
    --ColorPrincipal:#272727;
    --ColorSecundario:#f4f4f4;
    --ColorTerciario:#B7B7B7;
    --ColorAmarillo:#e97a00;
    --FontFamily:"Open Sans", sans-serif;

}





/* ---------------------COMIENZA EL HEADER------------------------------------------- */

.header{
    background-color: var(--ColorPrincipal);
    font-family: var(--FontFamily);
}

.logo{
    color: var(--ColorSecundario);
    pointer-events: none; /* Desactiva eventos de interacción (como hover o clics) */
    font-weight: 400;
}

 /* estilizo la barra de navegacion del header */
.navegador{
    color: var(--ColorSecundario);
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
}
.navegador:hover{
    color: var(--ColorAmarillo);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Agrega sombra al ícono */

}

/* estilizo el contenedor del buscador */

#search-box {
    display: none; /* Oculta el search-box por defecto */
}

.caja-de-busqueda{
    border-radius: 8px;
    background-color: #313131;
}

/* ESTILIZO EL INPUT DEL BUSCADOR */
.input-buscar{
    border: none;
    color: var(--ColorSecundario);
    background-color: #313131;
    margin-left: 5px;
}
.input-buscar:focus{
    outline: none; /* Elimina el contorno predeterminado */

}
/* equis del buscador */
.limpiar-buscador{
    color: #000;
}

.limpiar-buscador:hover{
    color: var(--ColorAmarillo);
}

/* icono de buscador */
.iconSearch{
    color: var(--ColorSecundario);
    font-size: 15px;
    transition: transform 0.3s ease; /* Transición suave */
}
.iconSearch:hover {
    color: var(--ColorAmarillo); /* Cambia el color al pasar el mouse */
    
}

/* ESTILIZO LOS ICONOS DEL CARRITO Y EL USER */
.iconNav {
    color: var(--ColorSecundario);
    margin-right: 10px;
    font-size: 15px;
    transition: transform 0.3s ease; /* Transición suave */
}

.iconNav:hover {
    color: var(--ColorAmarillo); /* Cambia el color al pasar el mouse */
}

/* ---------------------FINALIZA EL HEADER------------------------------------------- */


/*--------------------- COMIENZA HERO PAGINA INICIO ---------------------------------- */

.Hero{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);
}
.seccion-Hero-inicio h1{
    font-size: 140px;
    font-weight: 600;
    padding-top: 40px;
}
.seccion-Hero-inicio p{
    font-size: 15px;
    padding-bottom: 35px;
}



/* FINALIZA HERO PAGINA INICIO */

/* COMIENZA SECCION DOS PAGINA INICIO */

.seccionDos-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);
}

/* pongo espacio arriba para separarlo del contenido del hero */

.h3-p-sobreEmpresa{
    padding-top: 150px;
    padding-bottom: 70px;
}

.h3-p-sobreEmpresa p{
    font-size: 14px;
}

/* contenedor de imagenes contenedorImagenes-living-bedroom */

.contenedorImagenes-living-bedroom{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea */
    gap: 10px; /* Espacio entre elementos */
}
.contenedorImagenes-bathroom-cocina-escritorio{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea */
    gap: 10px; /* Espacio entre elementos */
}

/* tamaño de las imagenes de categorias */
.imagenSDinicio1{
    flex: 1 1 30%; /* Permite que las imágenes ocupen aproximadamente el 30% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de altura automática */
    max-width: 100%;
}
.imagenSDinicio2{
    flex: 1 1 30%; /* Permite que las imágenes ocupen aproximadamente el 30% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de altura automática */
    max-width: 100%;
}

/* separo imagenes del baño, living y escritorio */

.contenedorCategoria{
    margin-left: 15px;
}

/* Estilos para el overlay  y etiqueta link*/

.link-hover-categoria{
    text-decoration: none;
}

/* hover de las imagenes de categorias */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128,91,51, 0.5); /* Capa semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave */
}

.position-relative:hover .overlay {
    opacity: 1; /* Mostrar el overlay al hacer hover */
}

.overlay-text {
    color: var(--ColorSecundario);
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
}

.overlay-text i {
    margin-left: 10px; /* Espacio entre el texto y el ícono */
}

/* ------------------- FINALIZA SECCION DOS PAGINA INICIO ---------------------------- */


/* ------------------- COMIENZA SECCION TRES PAGINA INICIO ---------------------------- */

.seccionTres-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);

}

.contenedorImagenesSeccionTres{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea */
    gap: 14px; /* Espacio entre elementos */
}

.imagenSTinicio{
    flex: 1 1 25%; /* Permite que las imágenes ocupen aproximadamente el 30% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de altura automática */
}
/* ------------------- FINALIZA SECCION TRES PAGINA INICIO ---------------------------- */

/* ------------------- COMIENZA SECCION CUATRO PAGINA INICIO ---------------------------- */
.seccionCuatro-inicio{
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecundario);
    font-family: var(--FontFamily);
    padding-top: 150px;
}
.descripcionArticulo h5{
    font-weight: 600;
}
.descripcionArticulo p{
    font-size: 14px;
}


.ul-descripcion-sofa{
    font-weight: 600;
}





/* ------------------- FINALIZA SECCION CUATRO PAGINA INICIO ---------------------------- */